{% macro display(blog_list)%}
<div class= "row">
    {% for blog in blog_list %}
    <div class="col-md-9">
        <div class="panel panel-header"></div>
            <h3 style="text-align: center; font-family: cursive; font-size: 30px;">{{blog.title}}</h3>
            <div class="panel panel-body">
                <h4 style="font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ;font-size: 20px">{{blog.blog}}</h4>

                <footer style="font-family: cursive; font-size: 20px;">Posted by {{blog.user.username}}</footer>
                <a href="{{url_for('main.new_comment', blog_id = blog.id)}}" class="btn btn-primary"> Add a comment </a>


            </div>

        

    </div>
    {% endfor  %}
    


</div>
{% endmacro %}
{% macro displayComment(comments) %}
<ul>

    {% for comment in comments %}
        <div class="row">
                <p>{{ comment.description }}</p>
                <small> posted by {{comment.user.username}}</small>
        </div>
    {% endfor %}


</ul>
{% endmacro %}

