{% macro display (blog_list) %}
<div class= "row">
    {% for blog in blog_list %}
    <div class="col-md-9">
        <div class="panel panel-header"></div>
            <h3>{{blog.title}}</h3>
            <div class="panel panel-body">
                <p>{{blog.blog}}</p>

                <footer>Posted by {{blog.user.username}}</footer>


            </div>

        

    </div>
    {% endfor  %}
    


</div>
{% endmacro %}
{% macro displayComment(comments) %}
<ul>

    {% for comment in comments %}
        <div class="row">
                <p>{{ comment.description }}</p>
                <small> posted by {{comment.user.username}}</small>
        </div>
    {% endfor %}


</ul>
{% endmacro %}

